<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tct.musicplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_default_music"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@drawable/ic_default_music"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchActivity"
            android:theme="@style/WhiteTheme"/>
        <activity
            android:name=".ScanDirActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity android:name=".PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArtistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".AlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".MusicPlayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/GrayTheme" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/WhiteTheme" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tct.musicplayer.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>